<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Álbuns</title>

</head>
<body>
{% extends 'layout.html' %}
{% block content %}

    <ul>
        {% for album in albuns %}
            <li><a href="/fotos/{{ album[0] }}">{{ album[1] }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <form action="/add_album" method="post">
        Novo Álbum: <input type="text" name="album"><br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}

</body>
</html>