<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Álbuns</title>

</head>
<body>
{% extends 'layout.html' %}
{% block content %}


    {% if session['usuario'] %}

        <div class="panel panel-primary">
            <div class="panel-heading">Novo Álbum:</div>
            <div class="panel-body">

                <form action="/add_album" method="post">
                    Nome <input type="text" name="album">
                    <input class="btn-default" type="submit" value="Criar">
                </form>
            </div>
        </div>

    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">Álbuns de fotos</div>
        <div class="panel-body">
            <ul>
                {% for album in albuns %}
                    <li><a href="/fotos/{{ album[0] }}">{{ album[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>

{% endblock %}

</body>
</html>