<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fotos</title>


</head>
<body>

{% extends 'layout.html' %}

{% block content %}

    <form method='POST' enctype='multipart/form-data' action='/foto_upload'>
        Enviar foto: <input type=file name=upload><br>
        <input type="hidden" name="album_id" value="{{ album_id }}">
        <input type=submit value="Enviar">
    </form>
    <br><br>

    {% for foto in fotos %}
        <img src="../static/pix/{{ foto[0] }}"><br>
    {% endfor %}

{% endblock %}
</body>
</html>