<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fotos</title>


</head>
<body>

{% extends 'layout.html' %}

{% block content %}
    {% if session['usuario'] %}
        <div class="panel panel-primary">
        <div class="panel-heading">Enviar Foto:</div>
        <div class="panel-body">

        <form method='POST' enctype='multipart/form-data' action='/foto_upload'>
            <input class="btn-default" type=submit value="Enviar"><input type=file name=upload>
            <input type="hidden" name="album_id" value="{{ album_id }}">

        </form>
    {% endif %}
</div>
</div>
    <br><br>

    {% if fotos %}
        <h3><p class="bg-success text-center">{{ fotos[0][1] }}</p></h3><!-- nome do album -->
        {% else %}
            <p class="bg-warning text-center">Sem fotos cadastradas</p></h3><!-- nome do album -->
    {% endif %}

    {% for foto in fotos %}
        <img class="foto" src="../static/pix/{{ foto[0] }}"><a href="/del_pic/{{ foto[0] }}"><img
                src="../static/delete.png" style="display:inline;width:16px;height:16px;border:0;"></a><br>
    {% endfor %}

{% endblock %}
</body>
</html>