<link rel="stylesheet" type="text/css" href="../static/styles.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#        <script src="https://code.jquery.com/jquery-3.2.1.min.js"#}
{#			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="#}
{#			  crossorigin="anonymous"></script>#}

{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>#}


{% if session['admin'] %}
    <h3><p class="bg-warning text-center">Você está logado como {{ session['admin'] }}</p> </h3>
{% endif %}

<h3><p class="bg-primary text-center">Intranet METROPLAN</p> </h3>

<a href="https://www.accuweather.com/pt/br/porto-alegre/45561/weather-forecast/45561" class="aw-widget-legal">
</a><div id="awcc1502735178265" class="aw-widget-current"  data-locationkey="45561" data-unit="c" data-language="pt-pt" data-useip="false" data-uid="awcc1502735178265"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>