<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'header.html' %}
    {% include 'sidebar.html' %}

    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}

</head>
<body>

<div id="content">
    <div class="direita">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <div class="{{ category }}"><li>{{ message }}</div></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer">
    {% block footer %}

    {% endblock %}
</div>
</body>
</html>