<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% extends 'layout.html' %}

{% block content %}

    <form action="/login" method="post">

        <div class="container">
            <label class="passwordLabel"><b>Usuário</b></label>
            <input class="passwordInput" type="text" name="user" required>
            <br>
            <label class="passwordLabel"><b>Senha</b></label>
            <input class="passwordInput" type="password" name="password" required>
            <button class="btn-default" type="submit">Login</button>
        </div>

    </form>

{% endblock %}

</body>
</html>
