<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ramais</title>
</head>
<body>
{% extends 'layout.html' %}
{% block content %}


    {% if session['usuario'] %}

        <div class="panel panel-primary">
            <div class="panel-heading">Novo:</div>
            <div class="panel-body">

                <form action="/add_ramal" method="post">
                    Número <input type="text" name="numero">
                    Setor <input type="text" name="setor">
                    <input class="btn-default" type="submit" value="Adicionar">
                </form>
            </div>
        </div>

    {% endif %}

    <h3><p class="bg-primary text-center">Ramais</p></h3>

    <form action="/busca_ramal" method="post">
        Busque por parte do nome do funcionário: <input type="text" name="query">
        <input class="btn-default" type="submit" value="Procurar">
    </form>
    <br>
    <div class="container">
        <ul class="list-group">
            {% for ramal in ramais %}
                <li class="list-group-item">{{ ramal[0] }} - {{ ramal[1] }}
                    <a href="/del_ramal/{{ ramal[2] }}"><img src="./static/delete.png"
                                                             class="excluir"></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>

{% endblock %}
</body>
</html>