<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Navigation Effect Using jQuery</title>
		<link rel="stylesheet" type="text/css" href="static/styles.css" />
		<script type="text/javascript" src="static/jquery.js"></script>
		<script type="text/javascript" src="static/sliding_effect.js"></script>
	</head>
	<body>
		<div id="navigation-block">
            <h2><span>Intranet METROPLAN</span></h2>
            <ul id="sliding-navigation">
                <li class="sliding-element"><h3>Menu</h3></li>
                <li class="sliding-element"><a href="#">Link 1</a></li>
                <li class="sliding-element"><a href="#">Link 2</a></li>
                <li class="sliding-element"><a href="#">Link 3</a></li>
                <li class="sliding-element"><a href="#">Link 4</a></li>
                <li class="sliding-element"><a href="#">Link 5</a></li>
            </ul>
        </div>
	</body>
</html>